/* CURRENTLY IN: styles/main.css */


/*log in page info*/

.log-in{
	text-align: center;
	margin: 20px;
}


.logs{
	text-align: center;
}
.log-in-btn{
	margin: 0px auto;
	box-sizing: border-box;
}

.body-info{
	width:100%;
	margin:5px;
	background-color: white;
}

/*sign up page info*/

.signup-fields{
	text-align: center;
	padding: 20px;
}

.validate{
     box-shadow: 0 .5px 0 0 #000;
     padding: 4px;
}

.log-in-btn{
	margin:10px;
}

/*invite page info*/

.invite-fields{
	text-align: center;
	padding: 20px;
}


/*Top Nav Bar*/
.nav-wrapper{
	background-color: white;
	color: white;
	width: 100%;
	vertical-align: middle;
	padding: 20px 20px;
	box-sizing: border-box;
}

.brand-logo{
    float: left;
    box-sizing: border-box;
    font-size: 60px;
    text-align: center;
    text-decoration: none;
    color: #fff696;
    vertical-align: middle;
}


.main-nav-link {
    float: right;
    box-sizing: border-box;
    background-color: #f9dbdb;
    color: #4c4646;
    width: 10%;
    font-size: 10px;
    padding: 10px;
    margin: 0 5px;
    text-align: center;
    text-decoration: none;
    height: 50%;
}

.body-wrapper{
	min-height: 1000px;
	max-height: 5000px;
	width: 100%
}

/* Left Nav Info */
.left-nav{
	float: left;
	background-color:white;
	width: 20%;
	min-height: 800px;
	padding: 12px;
	box-sizing: border-box;
	height: inherit;
}

.left-nav-menu{
	float: both;
	background-color:white;
	width: 100%;
	padding: 8px;
	box-sizing: border-box;	
}

.left-nav-row{
	float:both;
	background-color: #4f4b4e;
	min-height: 20px;
	margin-top: 10px;
	color:black;
	padding:5px;
}

/*Feed Space*/

.feed-space{
	box-sizing: border-box;
	background-color: white;
	width: 80%;
	min-height: 800px;
	float:right;
	padding:40px;
}

/*That's my Dawg!*/

.dog-box{
	box-sizing: border-box;
	float: left;
	width: 100%;
	background-color: white;
	padding: 20px;
}

.dog-header{
	color:white;
	text-align: center;
}

.my-dog-img{
	box-sizing: border-box;
	background-color: grey;
	height: 100px;
	width: 100px;
	/* this will center block elements BUT you must specify the width*/
	margin: 0 auto;
}



/*Event Card*/
.event-card{
	box-sizing: border-box;
	width: 100%;
	background-color: white;
	min-height: 120px;
	padding:20px;
}

.event-info{
	box-sizing: border-box;
	float:right;
	width:100%;
	background-color: #4f4b4e;
	min-height: 80px;
	padding:5px;
}

.user-photo{
	box-sizing: border-box;
	float:left;
	width: 15%;
	background-color: #d698a2;
	min-height: 70px;
	padding:10px;
}

.event-info-header{
	box-sizing: border-box;
	padding:5px;
	float: right;
	width: 85%;
}

.event-type-img{
	box-sizing: border-box;
	float: right;
	width: 10%;
	background-color: #dba4cd;
	min-height:30px;
}

.user-style{
	font-weight: bolder;
	font-size: 16px;
}

.event-style{
	font-size: 14px; 
}

.time-stamp{
	font-size:10px;

}

.event-comments{
	box-sizing: border-box;
	float: left;
	width:100%;
	background-color: #4f4b4e;
	min-height:80px;
	padding:10px;
}


.clearfix:after {
	clear: both;
	content: "";
	display: block;
}
