/* CURRENTLY IN: styles/main.css */

.body-info{
	width:100%;
	margin:5px;
}



/*Top Nav Bar*/
.nav-wrapper{
	background-color: black;
	color: white;
	width: 100%;
	vertical-align: middle;
	padding: 10px 10px;
	box-sizing: border-box;
}

.brand-logo{
    float: left;
    box-sizing: border-box;
    font-size: 28px;
    /* padding: 10px; */
    /* margin: 5px; */
    text-align: center;
    text-decoration: none;
    color: #fff696;
    vertical-align: middle;
}


.main-nav-link {
    float: right;
    box-sizing: border-box;
    background-color: #f9dbdb;
    color: #4c4646;
    width: 16.66666%;
    font-size: 10px;
    padding: 10px;
    margin: 0 5px;
    text-align: center;
    text-decoration: none;
    height: 50%;
}


/* Left Nav Info */
.left-nav{
	float: left;
	background-color:#d2e1f7;
	width: 20%;
	min-height: 800px;
	padding: 12px;
	box-sizing: border-box;
}

.left-nav-menu{
	float: both;
	background-color:#f7d2ea;
	width: 100%;
	min-height: 800px;
	padding-right: 8px;
	padding-top: 8px;
	box-sizing: border-box;
}

.left-nav-row{
	float:both;
	background-color:#60535c;
	min-height: 20px;
	margin-top: 10px;
	color:white;
	padding:5px;
}

/*Feed Space*/

.feed-space{
	box-sizing: border-box;
	background-color: grey;
	width: 80%;
	min-height: 800px;
	float:right;
	padding:40px;
}

.event-card{
	box-sizing: border-box;
	width: 100%;
	background-color: #adf4d6;
	min-height: 120px;
	padding:20px;
}

.user-photo{
	box-sizing: border-box;
	float:left;
	width: 15%;
	background-color: #d698a2;
	min-height: 80px;

}

.event-info{
	box-sizing: border-box;
	float:right;
	width:85%;
	background-color: #f4bf8d;
	min-height: 80px;
}


.clearfix:after {
	clear: both;
	content: "";
	display: block;
}
